@model IEnumerable<fyp_V1._4.Models.Notice>

@{
    ViewBag.Title = "ViewNoticeList";
}

<h2>ViewNoticeList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoticeTitle)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoticePath)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeTitle)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NoticePath)
        </td>
       
        <td>
           @Html.ActionLink("Download", "DownloadNotice", new { NoticePath = item.NoticePath.ToString() })
        </td>
    </tr>
}

</table>
